{% extends "base.html.twig" %}

{% block title %}About{% endblock %}


{% block body %}
    <h1>About</h1>
    <p>MVC har 3 olika syften Model, View och Controller. Modelen har datan och view kör med HTML elementet slutligen controller tar hand om model, och uppdaterar view </p>
    <a href="{{ asset('img/glider.svg') }}">
        <img src="{{ asset('img/glider.svg') }}" alt="">
    </a>
        <p><a href="https://github.com/dbwebb-se/mvc" target="_blank">GitHub</a>.</p>
{% endblock %}