{% extends "base.html.twig" %}


{% block title %}Report Page{% endblock %}

{% block body %}
    <h1>Report Page</h1>
    <p>This is the report page containing kmom01 to kmom10.</p>

    <h2>kmom01 Report</h2>

    <h3>Mina förkunskaper och erfarenheter av objektorientering</h3>
    <p>

    Jag har använt språken innan som Java och Python under andra kurser. Tack vare dessa kurser så har jag lärt dig stora grunder som klasser som exempel. Även om jag kan grunderna så ser jag fram emot att använda vad jag har lärt mig i denna kmom.
    </p>

    <h3>PHPs modell för klasser och objekt</h3>
    <p>
    Php är ett sätt att komma igång med att skapa klass med nyckelord.  Med php är det lätt att förstå när man arbetar med objektorienterad programmering. Php kan man använda för att stödja koncept som inkapsling och polymorfism samt arv. Det är tre huvudprinciper för oop. Med dessa principer kan man strukturera sin kod på bättre sätt.
    </p>

    <h3>Reflektion över me/report-koden</h3>
    <p>
    Reflektionen har jag använt lite av mina tidigare kodare som webbtek. Det hjälpte mig särskilt när jag skulle skapa och anpassa stilen för lyckonummerfunktionen. Genom att återanvända och justera tidigare kod fick jag en smidig process, vilket gjorde det lättare att spara tid och arbeta på funktionalitet och design.
    </p>

    <h3>Tankar kring "PHP The Right Way"</h3>
    <p>
    Mina tankar gällande är det kan vara användbart. Särskilt för nybörjare som har börjat med php koden. Den tar fram som kodstruktur, felhantering, beroendehantering med Composer, till säkerhet och testning. Så mina tankar är att det nästan är ett måste när man vill börja med php kod för att få en lätt start.

    </p>

    <h3>Min TIL (Today I Learned)</h3>
    <p>
    Min TIL är att inte glömma fixa rotter till siderna
    </p>

{% endblock %}
